{% extends "layout.html" %}
{% block content %}

<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <p><a href="#">region slogan feed</a></p>
        </div>
        <div class="col-sm-7 text-left"> 
            <h1>World map goes here 🌏</h1>
            <iframe class="map", src="/map" width="600" height="600"></iframe>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}